@font-face {  /*подключение шрифта*/
	font-family: 'Roboto';
	src: url("../fonts/Lato-Regular.ttf") format('truetype');
	src: url("../fonts/Lato-Light.ttf") format('truetype');
	src: url("../fonts/Lato-Bold.ttf") format('truetype');
}

//font-family: 'Lato', sans-serif;
